# the star denotes latest version
python 3.*
numpy 1.*
scikit-learn 0.*
matplotlib 3.3.*
seaborn 0.*
tqdm 4.*
ellc 1.*
dynesty 0.9.*
emcee 3.*
celerite 0.3.*
corner 2.0.*
rebound 3.8.*
wotan 1.*
transitleastsquares 1.0.*
